/* Общие стили */
body{
  font-size: 1.1em;
}

html,
body, 
h1 {
  margin:0;
}

p {
  margin-top: 0px;
}

h2 {
  color: rgb(45 107 220);
  padding: 0.5em;
  border: solid 1px rgb(45 107 220);
}

ul {
  padding-inline-start: 0px;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.left-side section {
  padding: 0px 15px;
}

.right-side section {
  padding-left: 20px;
}

.wrapper {
  min-width: 940px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.left-side {
  color: rgb(245, 245, 245);
}

.right-side {
  background-color: rgb(245, 245, 245);
}

.right-side h2 {
  background-color: rgb(199, 199, 199);
}

/* Header */
.header {
  background-color: rgb(61, 61, 61);
}

.nav-list {
  display: flex;
}

.nav-item {
  font-size: 18px;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.nav-item a, a:visited {
  color: white;
}

/* Main */
main {
  display: flex;
}

.left-side {
  background-color: rgb(199, 199, 199);
  flex-grow: 1;
  min-width: 280px;
}

section a:visited {
  color: rgb(85, 124, 255);
}

.myphoto-img {
  width: 100%;
}

/* Section - Contacts*/

/* Section - I am */
.section-i-am {
  margin-left: 12px;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
  color: rgb(85, 124, 255);
}

.specialization {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

/* Section - work */
.work-skyeng {
  border-top: 1px solid rgb(85, 124, 255);
  padding-top: 20px;
}

/* Section - education */
.section-education h2 {
  margin-bottom: 0px;
}

.education-item{
  padding: 15px 0px;
}

.education-item:not(:first-child) {
  border-top: 1px solid rgb(85, 124, 255);
}

.sololearn-img {
  width: 500px;
}

/* Footer */
.footer {
  background-color: rgb(61, 61, 61);
  color:rgb(255, 255, 255)
}

.footer-list{
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.footer-item {
  flex-grow: 1;
  text-align: center;
}

.footer-item a:visited {
  color: white;
}

.logo-img {
  width: 120px;
}